html {
    background: #232931;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 900px;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    display: none;
}

#p5_loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #555;
    color: #eee;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knob-container {
    position: absolute;
    top: 25%;
    left: 83%;
    margin: 2rem 0;
    width: 70px;
    height: 70px;
}

.knob-visuals {
    position: relative;
    background-image: url(../img/knob.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.tv {
    position: relative;
    width: 800px;
    height: 600px;
}

#noise-gif, #random-gif, #tv-img {
    position: absolute;
}

#noise-gif, #random-gif {
    top: 39px;
    left: 32px;
    width: 600px;
    height: 450px; 
}

#tv-img {
    width: inherit;
    height: inherit; 
}

#noise-gif-back, #random-gif-back {
    filter: blur(20px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#noise-gif-back {
    z-index: -1;
}

#random-gif-back { 
    z-index: -2;
}